@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    display: grid;
    place-items: center;
    height: 70vh;
    margin: 0;
    padding: 0;
    background-color: #02181b;
    color: white;
    user-select: none;
    position: relative;
    font-family: "Crimson Text", serif;     
}

.blackhole-image {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    gap: 200px;
}

.left  {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.right {
    margin-top: 40px;

}

.right-navbar {
    display: flex;
    font-weight: bold;
    
}

.right-navbar>div {
    width: 140px;
    height: 40px;
    background-color: #3d0225;
    text-align: center;
    padding-top: 15px;
}

.right-navbar>div:hover {
    opacity: 0.85;
    cursor: pointer;
}

.right-navbar>:first-child {
    background: rgb(49, 1, 1)  ;
}

.right-navbar>:nth-child(3) {
    background: rgb(28, 1, 73)  ;
}


#upgrades-container {
    max-height: 400px;
    width: 500px;
    margin-top: 20px;
    padding: 20px;
    overflow-y: scroll;
    border: 2px rgb(150,150,150) solid;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgb(140,140,140);
    position: relative;
}

.blue-text {
    font-size: 42px;
    color: #187bec;
    font-weight: 700;
    text-shadow: 2px 2px 3px hwb(90,90,90);    
}

.cost-text {
    font-size: 18px;
    
}

.blackhole-image:hover {
    opacity: 0.9;
    cursor: pointer;
}

.blackhole-image:active {
    opacity: 0.8;
    transform: scale(1.02);
}

.upgrade {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 60px;
    border: 3px solid #eedddd;
    padding: 20px 40px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;
}

.upgrade:hover {
    opacity: 0.85;
    cursor: pointer;
}

.type-skill {
    display: none; 
}

.darkmatter-img-container {
    position: relative;    
}

.mid-section h4{
    margin: auto;
    height: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: 20px;
}

.cost-info {   
    display: flex;
    align-items: center;
    gap: 15px;
}


.upgrade-icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 15px;
    margin-right: 40px;
}




.p {
    margin: 0px;
}

.upgrade-img {
    position:  relative 0px;
    width: 35px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 2px;       
}

.next-level-info {
    position: absolute;
    right: -105px;
    background-color: rgb(65, 63, 63);
    height: 90px;
    width : 100px;
    text-align: center;
    display: none;
    font-size: 15px;
    border-radius: 2px;
}

.upgrade:hover .next-level-info {
    display: block;
}

.statistics {
    position: absolute;
    top: 750px;
    width: 450px;
    padding: 35px;
    border : 4px solid white;
    left: 50%;
    transform: translate(-50%);
}

.texts {
    display: flex;
    gap: 100px;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.util-buttons {
    position: absolute;
    top: 15px;
    right: 15px;
}

.util-button {
    padding: 8px 15px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 700;
    font-family: inherit;
}

.util-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fade-up {
    animation: fade-up 1s;
}

@keyframes fade-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    20%{
        opacity: 0,9;
        transform: translateY(-5px);
    }
    40%{
        opacity: 0,75;
        transform: translateY(-13px);
    }
    60%{
        opacity: 0,55;
        transform: translateY(-25px);
    }
    80%{
        opacity: 0,3;
        transform: translateY(-42px);
    }
    100%{
        opacity: 0;
        transform: translateY(-65px);
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-hover {
    background: #555;
}






